.heading-bold {
    font-weight: bold;
    color: #4c5265;
}

.heading-light {
    font-weight: lighter;
    color: #4c5265;
}

.project-card {
    width: 290px;
    height: auto;
    background-color: #e7e7e7;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: transform .2s;
}
.project-card::after {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.project-card:hover::after {
    opacity: 1;
}
.project-card:hover {
    scale: 1.05;

}

.project-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.project-button {
    background-color: #4c5265;
}
.project-button:hover {
    background-color: #292b2c;
}

.see-projects {
    font-weight: bold;
    border: 1;
    color: #4c5265;
}
.see-projects:hover {
    color: white;
    background-color: #e60877;
}

.logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.tool-logo {
    height: 30px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 2px;
    transition: transform .2s;
}

.tool-logo:hover {
    transform: scale(1.2);
}

.description {
    flex-grow: 1;
}

.project-link-box {
    display: flex;
    flex-direction: row;
}