.container{
  max-width: 1200px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
  }
  .parallax{
  /*background: url("img/") no-repeat center;*/
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  }
