.container{
  max-width: 1600px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
  }
  .parallax{
  background: url("https://images.unsplash.com/photo-1543373014-cfe4f4bc1cdf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") no-repeat center;*/
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  }
